html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
img,
strong,
sub,
sup,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
figure,
footer,
header,
menu,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
header {
  background-color: #b8221b;
  color: rgb(217, 218, 206);
  text-align: center;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}

nav {
  background-color: #443434;
}

nav ul {
  text-align: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

nav ul li a:hover {
  color: #bb4d4d;
  transition: 1s;
}

nav ul span {
  color: white;
  font-weight: bolder;
}

main {
  background-image: url("../imagens/tamarutaca2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.table {
  text-align: center;
}

.main-title h2 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  margin: 100px 0px 10px 0px;
  max-width: 250px;
  line-height: 1.4;
}

.main-title p {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 100px;
  margin-top: 20px;
  max-width: 170px;
  text-align: center;
}

.main-title {
  display: inline-block;
  margin-right: 100px;
}

table {
  display: inline-block;
  color: white;
  border: 2px solid white;
  margin-top: 120px;
  border-spacing: 10px 10px;
  padding: 10px;
}

article {
  text-align: center;
}

article h3 {
  font-size: 1.5em;
  margin: 20px;
  color: #b8221b;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.artigo1 img,
.artigo2 img {
  max-width: 150px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* height: 80px; */
}

.artigo1,
.artigo2 {
  display: inline-block;

  text-align: center;
  margin-left: 100px;
  margin-bottom: 40px;
}

.artigo1 p,
.artigo2 p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 300px;
}

footer {
  background-color: #b8221b;
  color: white;
  text-align: center;
}

aside {
  background-color: #443434;
  text-align: center;
  padding: 20px;
}

footer p {
  padding: 30px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside a {
  color: white;
  margin-right: 50px;
  padding: 15px 10px;
  font-size: 1.2em;
}

aside a:hover {
  color: #ad8d8d;
  transition: 1s;
}

aside img {
  width: 20px;
}
