#btn {
  background-color: black;
  border: 2px solid white;
  color: white;
  margin-top: 20px;
  padding: 5px 10px;
}

body {
  margin: 50px 100px;
}

p {
  text-align: justify;
}

input {
  width: 200px;
  padding: 5px;
}
